@model CJRSM.Models.DAL.TypesJeu

@{
    ViewBag.Title = "Details";
}


<div class="conteneur_Unique">
    <h2>Le types a bel et bien été ajouté!</h2>
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.IdTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdJeu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdJeu)
        </dd>*@
        @Html.ActionLink("Retourner a la liste de jeu", "Index", "Jeu", null, null)
    </dl>
</div>