<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css/Site.css")
    @Styles.Render("~/Content/css/font-awesome.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/trieDirect.js"></script>
    <script src="~/Content/js/sorttable.js"></script>
    <script src="~/Scripts/tether/tether.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="@Url.Content("~/Content/logo.png")" />
    <link rel="stylesheet" type="text/css" href="http"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CJRSM</title>
</head>
<body>
    <header>
        <img class="logo_header" src="~/Content/logo.png"/>
        <a href="@Url.Action(".", "Home/Index")" class="navbar-brand ">
            <img src="~/Content/CJRSM.png" class="cjrsm_header"/>
        </a>
    </header>
    <nav name="navigation_principal" class="navbar navbar-inverse navbar-fixed-top principal">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navPrincipal">
                <li><h1>@Html.ActionLink("Accueil", "Index", "Home")</h1></li>
                <li><h1>@Html.ActionLink("Activité", "Index", "Activite")</h1></li>
                <li><h1>@Html.ActionLink("Jeux", "Index", "Jeu")</h1></li>
                <li><h1>@Html.ActionLink("Document", "Index", "Document")</h1></li>
                @{
                    CJRSM.Models.DAL.IUnitOfWork contexte = new CJRSM.Models.DAL.UnitOfWork();
                    CJRSM.Models.DAL.IMembre membre = new CJRSM.Models.DAL.Membre();

                    membre = membre.Trouver(User.Identity.Name, contexte);
                    if (membre.Role != "Membre" && User.Identity.Name != "")
                    {
                        <li><h1>@Html.ActionLink("Gestion Exécutif", "Executif", "Membre")</h1></li>
                    }
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <h1><a href="/Membre/Details">@User.Identity.Name</a>&nbsp; | &nbsp;
                        @Html.ActionLink("Déconnexion", "Deconnexion", "Membre",  new  { @returnUrl = Request.Url.AbsolutePath }, null)</h1>
                    </li>
                }
                else
                {
                    <li><h1>@Html.ActionLink("Connexion", "Connexion", "Membre", new { @returnUrl = Request.Url.AbsolutePath }, null)</h1></li>
                }
            </ul>
        </div>
    </nav>

    @RenderBody()
    <footer>
        <hr />
        <p class="date">&copy; @DateTime.Now.Year - CJRSM - Guillaume Barbier</p>
    </footer>
</body>
</html>
