@model IEnumerable<CJRSM.Models.DAL.Document>

@{
    ViewBag.Title = "Liste des Documents";
    CJRSM.Models.DAL.IMembre membre = new CJRSM.Models.DAL.Membre();
    CJRSM.Models.DAL.IUnitOfWork contexte = new CJRSM.Models.DAL.UnitOfWork();
    membre = membre.Trouver(User.Identity.Name, contexte);
}

<div class="conteneur_Unique">
    <input type="checkbox" class="etat_Derouler" id="post-2" />
    <label for="post-2" class="option_derouler"></label>
    <div class="cible_Deroulante">
    @using (Html.BeginForm())
    {
        <table class="table_Recherche">
            <tr>
                <th>
                    <h2>Rechercher un jeu</h2>
                </th>
            </tr>
            <tr>
                <th>Trouver un document par son titre :</th>
                <th>@Html.TextBox("ChercherTitre", "", new { onKeyup = "showResult(this.value)" })</th>
            </tr>
            <tr>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>
                    <input type="submit" value="Trouver un Jeu" />
                </th>
            </tr>
        </table>
        }
    </div>

    <h2>Listes des Documents</h2>
    <table class="table_Liste sortable">
        <tr>
            <th>Titre</th>
            <th>Auteur-e</th>
            <th>Date d'ajout</th>
            <th>Disponible</th>
            @if (membre.Role != "Membre" && User.Identity.Name != "")
            {
                <th></th>
            }
        </tr>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Auteur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAjout)
                    </td>
                    <td>
                        @if (item.LocationDocument != null)
                        {
                            <img src="~/Content/icon_false.png" style="height:20px;" />}
                        else
                        {
                            <img src="~/Content/icon_true.png" style="height:20px;" />}
                    </td>
                    @if (membre.Role != "Membre" && User.Identity.Name != "")
                    {
                        <td>
                            @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                        </td>
                    }
                </tr>
            }
        }
    </table>
</div>
