@model IEnumerable<CJRSM.Models.DAL.Document>

@{
    ViewBag.Title = "Liste des Documents";
}

<div class="conteneur_Unique">
    <h2>Listes des Documents</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAjout)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IdLocationDocument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationDocumentId_Id)
            </th>*@
            <th></th>
        </tr>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Auteur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAjout)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.IdLocationDocument)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationDocumentId_Id)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            }
        }
    </table>
</div>
