@model CJRSM.Models.DAL.Document

@{
    ViewBag.Title = "Supprimer";
}
<div class="conteneur_Unique">
    <h2>Supprimer un jeu</h2>
    <h3>Voulez-vous vraiment supprimer ce document?</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAjout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAjout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdLocationDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdLocationDocument)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer le jeu" class="btn btn-default" /> |
            @Html.ActionLink("Retourner a la liste des documents", "Index")
        </div>
    }
</div>
