@model CJRSM.Models.DAL.Publication

@{
    ViewBag.Title = "Détails";
    CJRSM.Models.DAL.IMembre membre = new CJRSM.Models.DAL.Membre();
    CJRSM.Models.DAL.IUnitOfWork contexte = new CJRSM.Models.DAL.UnitOfWork();
    string noDossier = contexte.Membre.Find(Model.IdMembre.Value).NoDossier;
    membre = membre.Trouver(noDossier, contexte);
}

<div class="conteneur_Unique">
    <h2>Détails de la publication</h2>
    <dl class="dl-horizontal">
        <dd>
            <h3 style="font-style:italic;">@Html.DisplayFor(model => model.Titre)</h3>
        </dd>

        <dd>
            <p style="text-align: justify; padding-right:70px;">@Html.DisplayFor(model => model.Contenu)</p>
        </dd>
        <dd>
            <br />
            <strong style="padding-left:250px; padding-top:50px;">@membre.Nom, @membre.Prenom</strong>
        </dd>

    </dl>
    @Html.ActionLink("Retourner a la page d'accueil", "Index")
</div>
