@model CJRSM.Models.DAL.Membre

@{
    ViewBag.Title = "Détails";
}

<div class="conteneur_Unique">
    <h2>Détails du membre</h2>
    <ul>
        <li class="listeDetailMembre">
            @Html.DisplayNameFor(model => model.NoDossier)&nbsp;

            <strong>@User.Identity.Name</strong>
        </li>

        <li class="listeDetailMembre">
            @Html.DisplayNameFor(model => model.Prenom)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <strong>@Html.DisplayFor(model => model.Prenom)</strong>
        </li>

        <li class="listeDetailMembre">
            @Html.DisplayNameFor(model => model.Nom)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <strong>@Html.DisplayFor(model => model.Nom)</strong>
        </li>

        <li class="listeDetailMembre">
            @Html.DisplayNameFor(model => model.Role)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <strong>@Html.DisplayFor(model => model.Role)</strong>
        </li>
        <li class="listeDetailMembre">
            @Html.ActionLink("Modifier le mot de passe", "ModifierMotDePasse", "Membre", new { @class = "lienCommeBouton" }) <br />
            @Html.ActionLink("Modifier les informations", "Modifier", new { id = Model.Id }, new { @class = "lienCommeBouton" })
        </li>
    </ul>
</div>