@model IEnumerable<CJRSM.Models.DAL.Activite>
@{
    CJRSM.Controllers.MembreController membreController = new CJRSM.Controllers.MembreController();
    CJRSM.Controllers.ActiviteController activiteController = new CJRSM.Controllers.ActiviteController();
    System.Collections.ArrayList listeMembreExecutif = membreController.TrouverExecutif();
    ViewBag.Title = "Exécutif";
}

<div class="conteneur_Unique">
    <h2>Executif</h2>
    <h3>Ajouter un élément à une liste</h3>
    <div class="div_lien_ajout">
        @Html.ActionLink("Ajouter un document a la base de donnée", "AjoutDocument", "Membre")<br />
        @Html.ActionLink("Ajouter un jeu a la base de donnée", "AjoutJeu", "Membre")<br />
        @Html.ActionLink("Ajouter un type de jeu a la base de donnée", "AjoutType", "Membre")<br />
        @Html.ActionLink("Ajouter un membre du CJRSM", "AjoutMembre", "Membre")
    </div>

    <h3>Activité non accepté proposé par les membres</h3>
    <table class="table_Liste sortable">
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Nombre de membre minimal</th>
            <th>Nombre de membre maximal</th>
            <th>Journée</th>
            <th>Heure de début</th>
            <th>Date de début</th>
            <th>Nombre de semaine consécutive</th>
            <th>Accepté</th>
            <th>Jeu proposé</th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                if (item.Accepte == false)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NbrMembreMin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NbrMembreMax)
                        </td>
                        <td>
                            @{
                                if (item.Jour == 1)
                                {
                                    <p>Lundi</p>
                                }
                                else if (item.Jour == 2)
                                {
                                    <p>Mardi</p>
                                }
                                else if (item.Jour == 3)
                                {
                                    <p>Mercredi</p>
                                }
                                else if (item.Jour == 4)
                                {
                                    <p>Jeudi</p>
                                }
                                else if (item.Jour == 5)
                                {
                                    <p>Vendredi</p>
                                }
                                else if (item.Jour == 6)
                                {
                                    <p>Samedi</p>
                                }
                                else if (item.Jour == 7)
                                {
                                    <p>Dimanche</p>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HeureDebut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateDebut.Day)/@Html.DisplayFor(modelItem => item.DateDebut.Month)/@Html.DisplayFor(modelItem => item.DateDebut.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NbrRepetion)
                        </td>
                        <td>
                            @if (item.Accepte == false)
                            {
                                <img src="~/Content/icon_false.png" style="height:20px;" />}
                            else
                            {
                                <img src="~/Content/icon_true.png" style="height:20px;" />}
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IdActiviteJeu)
                        </td>
                        <td>
                            @Html.ActionLink("Modifier", "Modifier", "Activite", new { id = item.Id }, null)
                        </td>
                    </tr>
                }
            }
        }
    </table>

    <h3>Modifier le rôle d'un membre</h3>
    <table class="table_Role">
        <tr>
            <td>Bibliothécaire</td>
            <td>
                @listeMembreExecutif[0]
            </td>
            <th>@Html.ActionLink("Modifier", "", "")</th>
        </tr>
        <tr>
            <td>Externe</td>
            <td>
                @listeMembreExecutif[1]
            </td>
            <th><a href="#">Modifier</a></th>
        </tr>
        <tr>
            <td>Interne</td>
            <td>
                @listeMembreExecutif[2]
            </td>
            <th><a href="#">Modifier</a></th>
        </tr>
        <tr>
            <td>Publiciste</td>
            <td>
                @listeMembreExecutif[3]
            </td>
            <th><a href="#">Modifier</a></th>
        </tr>
        <tr>
            <td>Trésorier</td>
            <td>
                @listeMembreExecutif[4]
            </td>
            <th><a href="#">Modifier</a></th>
        </tr>
    </table>
</div>