@model CJRSM.Models.DAL.Activite

@{
    ViewBag.Title = "Ajouter une activité";
    var listeJour = new List<SelectListItem>{
    new SelectListItem { Text = "lundi", Value = "1" },
    new SelectListItem { Text = "Mardi", Value = "2" },
    new SelectListItem { Text = "Mercredi", Value = "3" },
    new SelectListItem { Text = "Jeudi", Value = "4" },
    new SelectListItem { Text = "Vendredi", Value = "5" },
    new SelectListItem { Text = "Samedi", Value = "6" },
    new SelectListItem { Text = "Dimanche", Value = "7" }
    };
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="conteneur_Unique">
        <h2>Ajouter une activité</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Titre</label>
                @Html.EditorFor(model => model.Titre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Nombre de participants minimum</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NbrMembreMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NbrMembreMin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Nombre de participants maximum</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NbrMembreMax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NbrMembreMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Jour</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Jour, listeJour, new { htmlAttributes = new { @class = "form-control" }, id="ListeJour" })
                @Html.ValidationMessageFor(model => model.Jour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Heure du début de l'activité</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.HeureDebut, new { htmlAttributes = new { @class = "form-control" }, type = "time" })
                @Html.ValidationMessageFor(model => model.HeureDebut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Date du début de l'activité</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DateDebut, new { htmlAttributes = new { @class = "form-control" }, type = "date" })
                @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Nombre de semaine consécutive dont s'effectue l'activité</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NbrRepetion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NbrRepetion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Jeu proposer pour l'activité</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdActiviteJeu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdActiviteJeu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter l'activité" class="btn btn-default" />
            </div>
        </div>
        @Html.ActionLink("Retourner a la liste d'activité", "Index")
    </div>
}