@model CJRSM.Models.DAL.Activite

@{
    ViewBag.Title = "Détails";
}

<div class="conteneur_Unique">
    <h2>Détails de l'activité</h2>
    <dl class="dl-horizontal">
        <dd>
            <h3 style="font-style:italic;">@Html.DisplayFor(model => model.Titre)</h3>
        </dd>

        <dd>
            <label>@Html.DisplayFor(model => model.Description)</label>
        </dd>

        <dt>
            <label>Nombre de Participant requis</label>
        </dt>

        <dd>
            <label>@Html.DisplayFor(model => model.NbrMembreMin)</label>
        </dd>

        <dt>
            <label>Nombre de Participant maximum</label>
        </dt>

        <dd>
            <label>@Html.DisplayFor(model => model.NbrMembreMax)</label>
        </dd>

        <dt>
            <label>Jour de la semaine</label>
        </dt>

        <dd>
            @if ((Html.DisplayFor(model => model.Jour)).ToString() == "1")
            {
                <p>Lundi</p>
            }
            else if ((Html.DisplayFor(model => model.Jour)).ToString() == "2")
            {
                <p>Mardi</p>
            }
            else if ((Html.DisplayFor(model => model.Jour)).ToString() == "3")
            {
                <p>Mercredi</p>
            }
            else if ((Html.DisplayFor(model => model.Jour)).ToString() == "4")
            {
                <p>Jeudi</p>
            }
            else if ((Html.DisplayFor(model => model.Jour)).ToString() == "5")
            {
                <p>Vendredi</p>
            }
            else if ((Html.DisplayFor(model => model.Jour)).ToString() == "6")
            {
                <p>Samedi</p>
            }
            else if ((Html.DisplayFor(model => model.Jour)).ToString() == "7")
            {
                <p>Dimanche</p>
            }
        </dd>

        <dt>
            <label>Heuredu début de l'activité</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureDebut)
        </dd>

        <dt>
            <label>Date du début de l'activité</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>

        <dt>
            <label>Nombre de semaine consécutive</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbrRepetion)
        </dd>

        <dt>
            <label>Jeu proposé</label>
        </dt>

        <dd>
            <label>@Html.DisplayFor(model => model.IdActiviteJeu)</label>
        </dd>

    </dl>
    @Html.ActionLink("Retourner a la liste", "Index")
</div>