@model IEnumerable<CJRSM.Models.DAL.Activite>

@{
    ViewBag.Title = "Liste des activité";

    CJRSM.Models.DAL.IGenericRepository<CJRSM.Models.DAL.Participant> repo;
    CJRSM.Models.DAL.IUnitOfWork contexte;
    contexte = new CJRSM.Models.DAL.UnitOfWork();
    repo = contexte.Participant;
    CJRSM.Models.DAL.IMembre membre = new CJRSM.Models.DAL.Membre();
    CJRSM.Controllers.ActiviteController activiteController = new CJRSM.Controllers.ActiviteController();
    CJRSM.Models.DAL.Participant participant = new CJRSM.Models.DAL.Participant();
    IEnumerable<CJRSM.Models.DAL.Participant> iEnumParticipant = repo.Get(j => j.Id.ToString().Contains(""));
    List<CJRSM.Models.DAL.Participant> listeParticipant = iEnumParticipant.ToList();
}

<div class="conteneur_Unique">
    <input type="checkbox" class="etat_Derouler" id="post-2" />
    <label for="post-2" class="option_derouler"></label>
    <div class="cible_Deroulante">
        @using (Html.BeginForm())
            {
            <table class="table_Recherche">
                <tr>
                    <th>
                        <h2>Rechercher une activité</h2>
                    </th>
                </tr>
                <tr>
                    <th>Trouver une activité par son titre :</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Trouver une activité le nombre de place restante :</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Trouver une activité sa journée :</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Trouver une activité par son heure de début:</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Afficher seulement les activités répétitives :</th>
                    <th></th>
                </tr>
                <tr></tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <input type="submit" value="Trouver une activité" />
                    </th>
                </tr>
            </table>
        }
    </div>

    <h2>Liste des Activités</h2>
    @{
        if (User.Identity.Name != "")
        {
            <h3>@Html.ActionLink("Ajouter une activité", "Ajout", "Activite")</h3>
        }
    }
    <table class="table_Liste sortable">
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Nombre de membre minimal</th>
            <th>Nombre de membre maximal</th>
            <th>Nombre de place-s restante-s</th>
            <th>Journée</th>
            <th>Heure de début</th>
            <th>Date de début</th>
            <th>Nombre de semaine consécutive</th>
            <th>Accepté</th>
            <th></th>
            @if (membre.Role != "Membre" && User.Identity.Name != "")
            {
                <th></th>
            }
        </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            int nbrPlaceRestante = item.NbrMembreMax.Value;
            for (int i = 0; i < listeParticipant.Count(); i++)
            {
                if (listeParticipant[i].IdActivite == item.Id)
                {
                    nbrPlaceRestante--;
                }
            }
            if (item.Accepte == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NbrMembreMin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NbrMembreMax)
                    </td>
                    <td>
                        @nbrPlaceRestante
                    </td>
                    <td>
                        @if (item.Jour == 1)
                        {
                            <p>Lundi</p>
                        }
                        else if (item.Jour == 2)
                        {
                            <p>Mardi</p>
                        }
                        else if (item.Jour == 3)
                        {
                            <p>Mercredi</p>
                        }
                        else if (item.Jour == 4)
                        {
                            <p>Jeudi</p>
                        }
                        else if (item.Jour == 5)
                        {
                            <p>Vendredi</p>
                        }
                        else if (item.Jour == 6)
                        {
                            <p>Samedi</p>
                        }
                        else if (item.Jour == 7)
                        {
                            <p>Dimanche</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeureDebut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateDebut.Day)/@Html.DisplayFor(modelItem => item.DateDebut.Month)/@Html.DisplayFor(modelItem => item.DateDebut.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NbrRepetion)
                    </td>
                    <td>
                        @if (item.Accepte == false)
                        {
                            <img src="~/Content/icon_false.png" style="height:20px;" />}
                        else
                        {
                            <img src="~/Content/icon_true.png" style="height:20px;" />}
                    </td>
                    @if (membre.Role != "Membre" && User.Identity.Name != "")
                    {
                        <td>
                            @*<button id="@item.Id" onclick="@activiteController.Inscriptions(item.Id)">S'inscrire a l'activité</button>*@
                            @Html.ActionLink("Inscriptions", "AjouterParticipant", "Activite", new { activiteId = item.Id }, null)
                        </td>
                    }
                    @*<td>
                        @Html.DisplayFor(modelItem => item.IdActiviteJeu)
                    </td>*@
                    <td>
                        @Html.ActionLink("Détails", "Details", new { id = item.Id })
                    </td>
                </tr>
                }
            }
        }
    </table>
</div>