@model IEnumerable<CJRSM.Models.DAL.Activites>

@{
    ViewBag.Title = "Activité";
}

    <div class="conteneur_Unique">
        <input type="checkbox" class="etat_Derouler" id="post-2" />
        <label for="post-2" class="option_derouler"></label>
        <div class="cible_Deroulante">
            @using (Html.BeginForm())
            {
                <table class="table_Recherche">
                    <tr>
                        <th>
                            <h2>Rechercher un jeu</h2>
                        </th>
                    </tr>
                    <tr>
                        <th>Trouver un document par son titre :</th>
                        <th>@Html.TextBox("ChercherTitre", "", new { onKeyup = "showResult(this.value)" })</th>
                    </tr>
                    <tr></tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>
                            <input type="submit" value="Trouver un Jeu" />
                        </th>
                    </tr>
                </table>
            }
        </div>

    <h2>Liste des Activité</h2>

    <table class="table_Liste sortable">
        <tr>
            <th>
                <h4>Titre de l'activité</h4>
            </th>
            <th>
                <h4>Jeu proposé</h4>
            </th>
            <th>
                <h4>Jour de l'activité</h4>
            </th>
            <th>
                <h4>Heure du commencement</h4>
            </th>
            <th>
                <h4>Date de l'activité</h4>
            </th>
            <th></th>
        </tr>
        @if (Model != null)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.ActionLink(Html.DisplayFor(modelItem => item.Titre).ToString(), "Details", new { id = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jeu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeureDebut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateDebut)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </table>
</div>

