@model IEnumerable<CJRSM.Models.DAL.Jeux>

@{
    ViewBag.Title = "Listes des Jeux";
}

@*<main role="main">
    <nav name="nav_secondaire" class="nav nav_secondaire">
        <ul>
            <li><h2>@Html.ActionLink("", "")</h2></li>
        </ul>
    </nav>
</main>*@

<div class="conteneur_Unique">
    <h2>Listes des Jeux</h2>
    <table class="table">
        <tr>
            <th>
                <h4>Titre</h4>
            </th>
            <th>
                <h4>Difficulté</h4>
            </th>
            <th>
                <h4>Nombre de Joueur Minimum</h4>
            </th>
            <th>
                <h4>Nombre de Joueur Maximum</h4>
            </th>
            <th>
                <h4>Temps Minimum</h4>
            </th>
            <th>
                <h4>Temps Maximum</h4>
            </th>
            <th>
                <h4>Disponible</h4>
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.MembreId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAjout)
            </th>*@
            <th></th>
        </tr>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(Html.DisplayFor(modelItem => item.Titre).ToString(), "Details", new { id = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulte)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NbrJoueurMin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NbrJoueurMax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TempsMin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TempsMax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disponible)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.MembreId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAjout.Date.ToString("dd/MM/yyyy"))
                    </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }

    </table>
</div>
