@model IEnumerable<CJRSM.Models.DAL.Jeux>

@{
    ViewBag.Title = "ListeJeux";
}

<main role="main">
    <nav name="nav_secondaire" class="nav nav_secondaire">
        <ul>
            <li>@Html.ActionLink("Nouveaux Jeux", "Create")</li>
            <li><h2>@*@Html.ActionLink("", "")*@</h2></li>
        </ul>
    </nav>

    <div class="conteneur_Deux">
        <h2>ListeJeux</h2>

        <p>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NbrJoueur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Temps)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MembreId)
                </th>
                <th></th>
            </tr>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NbrJoueur)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Temps)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MembreId)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</main>


