@model IEnumerable<CJRSM.Models.DAL.Jeu>

@{
    ViewBag.Title = "Index";
    var listeDifficulte = new List<SelectListItem>{
        new SelectListItem { Text = "0", Value = "0" },
        new SelectListItem { Text = "1", Value = "1" },
        new SelectListItem { Text = "2", Value = "2" },
        new SelectListItem { Text = "3", Value = "3" },
        new SelectListItem { Text = "4", Value = "4" },
        new SelectListItem { Text = "5", Value = "5" }
    };
    CJRSM.Models.DAL.IMembre membre = new CJRSM.Models.DAL.Membre();
    CJRSM.Models.DAL.IUnitOfWork contexte = new CJRSM.Models.DAL.UnitOfWork();
    membre = membre.Trouver(User.Identity.Name, contexte);
}

<div class="conteneur_Unique">
    <input type="checkbox" class="etat_Derouler" id="post-2" />
    <label for="post-2" class="option_derouler"></label>
    <div class="cible_Deroulante">
        @using (Html.BeginForm())
        {
            <table class="table_Recherche">
                <tr>
                    <th>
                        <h2>Rechercher un jeu</h2>
                    </th>
                </tr>
                <tr>
                    <th>Trouver un jeu par son titre :</th>
                    <th>@Html.TextBox("ChercherTitre", "", new { onKeyup ="showResult(this.value)"})</th>
                </tr>
                <tr>
                    <th>Trouver un jeu par sa difficulté</th>
                    <th>@Html.DropDownList("Difficulte", listeDifficulte)</th>
                </tr>
                <tr>
                    <th>Trouver un jeu par son nombre minimal de joueur</th>
                    <th>@Html.TextBox("NbrJoueurMin", "", new { onKeyup = "showResult(this.value)" })</th>
                </tr>
                <tr>
                    <th>Trouver un jeu par son nombre maximal de joueur</th>
                    <th>@Html.TextBox("NbrJoueurMax", "", new { onKeyup = "showResult(this.value)" })</th>
                </tr>
                <tr>
                    <th>Trouver un jeu par sa durée minimal</th>
                    <th>@Html.TextBox("TempsMin", "", new { onKeyup = "showResult(this.value)" })</th>
                </tr>
                <tr>
                    <th>Trouver un jeu par sa durée maximal</th>
                    <th>@Html.TextBox("TempsMax", "", new { onKeyup = "showResult(this.value)" })</th>
                </tr>
                <tr>
                    <th>Trouver un jeu par ses types</th>
                    <th>
                        <input name="TypesId" list="types" id="TypesId"/>
                        <datalist id="types">
                            @foreach (var i in contexte.Types.Get())
                            {
                                //SelectListItem nouvelItem = new SelectListItem { Text = i.Nom, Value = i.Id.ToString() };
                                //listeTypes.Add(nouvelItem);
                                <option value="@i.Id">@i.Nom</option>
                            }
                        </datalist>

                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <input type="reset" value="Vider les champs de recherche" />
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <input type="submit" value="Trouver un Jeu" />
                    </th>
                </tr>
            </table>
        }
    </div>


    <h2>Listes des Jeux</h2>
    @if (User.Identity.Name != "")
    {
        <h3>@Html.ActionLink("Ajouter un type", "Ajout", "TypesJeu")</h3>
    }
    <div class="table_transition">
        <table class="table_Liste sortable">
            <tr>
                <th>Titre</th>
                <th>Difficulté</th>
                <th>Minimum de joueur</th>
                <th>Maximum de joueur</th>
                <th>Temps Minimal</th>
                <th>Temps Maximal</th>
                <th>Date d'ajout</th>
                <th>Types de Jeu</th>
                <th>Disponible</th>
                @if (membre.Role != "Membre" && User.Identity.Name != "")
                {
                    <th></th>
                }
            </tr>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Difficulte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NbrJoueurMin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NbrJoueurMax)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TempsMin) minute-s
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TempsMax) minute-s
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAjout.Day)/@Html.DisplayFor(modelItem => item.DateAjout.Month)/@Html.DisplayFor(modelItem => item.DateAjout.Year)
                        </td>
                        <td>
                            <div class="div_type">
                                @{
                                    IEnumerable<CJRSM.Models.DAL.TypesJeu> TypesJeu = contexte.TypesJeu.Get();
                                    IEnumerable<CJRSM.Models.DAL.Type> Type = contexte.Types.Get();
                                    foreach (var tj in TypesJeu){
                                        if (tj.IdJeu == item.Id){
                                            foreach (var t in Type){
                                                if (tj.IdTypes == t.Id){
                                                    <div class="type_tag">
                                                        @Html.DisplayFor(modelItem => t.Nom)
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                }
                            </div>
                        </td>
                        <td class="div_disponible">
                            @if (item.LocationJeu != null)
                            {
                                <img src="~/Content/icon_false.png" style="height:20px;" />}
                            else
                            {
                                <img src="~/Content/icon_true.png" style="height:20px;" />}
                        </td>
                        @if (membre.Role != "Membre" && User.Identity.Name != "")
                        {
                            <td>
                                @Html.ActionLink("Modifier", "Modifier", new { id = item.Id })
                                @Html.ActionLink("Supprimer", "Supprimer", new { id = item.Id })
                            </td>
                        }
                    </tr>
                }
            }
        </table>
    </div>
</div>